using UnityEngine;

namespace {{NAMESPACE}}
{
    /// <summary>{{DESCRIPTION}}</summary>
    public class {{CLASS_NAME}} : MonoBehaviour
    {
        private void Start() { }
        private void Update() { }
    }
}
